
* {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
.mainContent {
    margin: 0 55px;
}
h2{
  font-weight:700 ;  
}


a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.mainLogo {
    padding-left: 5px ;
}
.menu {
    width: 35%;
    display: flex;   
    justify-content: space-around;
    padding-top: 1rem ;
}
.menuregister {
    color: #0065FC;
    font-weight: bold;
}
.register a  {
    color: #0065FC;
    font-weight: bold;
}
.menuList {
    
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
li {
    margin-right: 4rem;
    text-align: center;
}
.register {
    border-style: none;
    margin-left: 4rem;
    color: #0065FC;
    
}


.menu a:hover {
    color: #0065FC;
}
footer a:hover {
    color: #0065FC;
}

.research {
    padding-bottom:  2rem;
  }
  
.research h2 {
    margin:0;
}

.research p {
    font-weight: 100;
}
.search {
    display: flex;
    height: 3rem;
    width: 400px;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1rem;
}

.logoLocation {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    height: 100%;
    width: 3.5rem;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchText {
    display: flex;
    border-color: #F2F2F2;
    border: 2px solid #d9d9d9;
    border-left-style: none;
    border-right-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.searchButton { 
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    align-items: center;
    padding: 0 10px 0 10px;

}

.filters {
    display: inline-flex;
    padding-bottom: 2rem;
}
.filters h3 {
    margin-right: 2rem;
}


.available {
    display: flex;
    margin-left: 0.5rem;
    padding-bottom: 2rem;
}
.available i {
    color: #0065FC;
    display: flex;
    font-size: 13px;
    width: 15px;
    height: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
    
}

.infotxt {
    padding: 5px;
}
.mainFilters {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #d9d9d9;
    font-weight: bold;
    margin-right: 20px ;
    padding: 0;
    height: 50px;
    
  }

.filter {
    font-size: 1rem;
    display: inline-flex;
    padding-right: 20px;
    align-items: center; 
  }

.iconFilter {
    height: 45px;
    width: 45px; 
    font-size: 1rem;
    color:#0065FC; 
    background-color: #DEEBFF;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

  }

.hosting {
    width: 60%;
    background-color: #F2F2F2 ;
    padding: 40px 40px 20px 40px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-right: 45px;
}
.hosting h3 {
    margin-top: 0;
    margin-bottom: 0;   
    font-size: 1.5rem;
    font-weight: bold;

}
.hosting h2 {
    margin-top: 0.3em;
    margin-bottom: 0;
}

.hostings p {
    font-size: 1.17rem;
    font-weight: bold;
}
.popular {
    display: flex;
    flex-direction: column;

    width: 28%;
    background-color: #F2F2F2;
    padding: 40px 10px 20px 10px;
    border-radius: 25px;
}

.popular h3 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.popular h2 {
    margin-top: 0.8em;
    margin-bottom: 0;
    font-size: 1.2em;
}

.popularTitle {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.popularTitle i {
    font-size: 1.3em;
}


.popularHosting 
{ 
    display: flex;
    min-width: 210px;
    height: 165px;
    background-color: white;
    border-radius: 25px;
    flex-direction: row;
    box-shadow: 0px 0px 16px  #0000002e;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}


.popularHosting img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 40%;
    padding: 5px;
    object-fit: cover;
}

.more {
    padding-bottom: 0;
    padding-top: 1rem;
    font-weight: bold;
}
.mainHosting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 50px;
}
.hostingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardHosting 
{ 
    display: flex;
    width: 30%;
    min-width: 210px;
    height: 230px;
    background-color: white;
    border-radius: 25px;
    flex-direction: column;
    box-shadow: 0px 0px 16px  #0000002e;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.cardHosting img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 60%;
    padding: 5px;
    object-fit: cover;
}

.cardHosting p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.titleHosting {
    font-size: 1em;
}
.hostingPrice {
    font-size: 0.9em;
}

.infoHosting {
    height: 40%;
    padding-left: 20px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardRating {
    color: #0065FC;
    font-size: 0.8em;
}

.color-unset {
    color: grey;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 200px repeat(3, 50px) 200px;
    grid-column-gap: 4%;
    grid-row-gap: 0px;
    margin-bottom: 50px;
    }
    .parent img {
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 6 / 2; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 25px;
        
    }

    .div2 { 
        grid-area: 1 / 2 / 4 / 3; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 25px;
    }
    .div3 {
         grid-area: 5 / 2 / 6 / 3; 
         display: flex;
         flex-direction: column;
         box-shadow: 0 0 16px #0000002e;
         border-radius: 25px;
        }
    .div4 { 
        grid-area: 1 / 3 / 6 / 4;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 25px; 
    }
    .div5 { 
        grid-area: 1 / 4 / 3 / 5; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 25px;
    }
    .div6 { 
        grid-area: 4 / 4 / 6 / 5; 
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 16px #0000002e;
        border-radius: 25px;
    }
    .div1 img {
        height: 480px;
        width: 100%;      
    }
    .div2 img {
        height: 80%;
        width: 100%;      
    }
    .div3 img {
        height: 130px;
        width: 100%;      
    }
    .div4 img {
        height: 480px;
        width: 100%;      
    }
    .div5 img {
        height: 75%;
        width: 100%;      
    }
    .div6 img {
        height: 180px;
        width: 100%;      
    }

    .titleActivity {
        height: 55px;
        padding-top: 5px;
        padding-left: 2.5rem;
        display: flex;
        align-items: center;
    }









.footertext {
    margin-right: 2rem;
    flex: 1;

}
footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 4rem;
    padding-top: 2rem;
    margin-left: 0;
    background-color:#F2F2F2;
    padding-left: 55px;
}
