
* {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
.mainContent {
    margin: 0 55px;
}
h2{
  font-weight:700 ;  
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-top: 25px;
}
.mainLogo {
    padding-left: 5px ;
}
.menu {
    margin-right: 8rem;
    padding: 0;
    width: 100%;
    display: flex;   
    justify-content: flex-end;
}
.menuList {
    
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
li {
    margin-right: 4rem;
    text-align: center;
}
.register {
    border-style: none;
    margin-left: 4rem;
    color: #0065FC;
    
}


.menu a:hover {
    color: #0065FC;
}
footer a:hover {
    color: #0065FC;
}

.research {
    padding-bottom:  2rem;
  }
  
.research h2 {
    margin:0;
}

.research p {
    font-weight: 100;
}

.filters {
    display: inline-flex;
    padding-bottom: 2rem;
}
.filters h3 {
    margin-right: 2rem;
}


.available {
    display: flex;
    padding-bottom: 2rem;
}

.mainFilters {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    font-weight: bold;
    margin-right: 15px ;
    padding: 0;
    height: 50px;
    
  }

.filter {
    font-size: 0.9rem;
    display: inline-flex;
    padding-right: 15px;
    align-items: center; 
  }

.iconFilter {
    height: 45px;
    width: 45px; 
    font-size: 0.9rem;
    color:#0065FC; 
    background-color: #DEEBFF;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

  }

.hosting {
    width: 65%;
    background-color: #F2F2F2 ;
    padding: 45px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-right: 45px;
}
.hosting h3 {
    margin-bottom: 0;
    margin-left: 1rem;

}

.hostings p {
    font-size: 1.17rem;
    font-weight: bold;
}
.popular {
    width: 25%;
    background-color: #F2F2F2;
    padding: 45px;
    border-radius: 20px;
}

.mainHosting {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.hostingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cardHosting 
{ 
    display: flex;
    width: 30%;
    height: 270px;
    background-color: white;
    border-radius: 30px;
    flex-direction: column;
    box-shadow: 0px 0px 7px 3px  #DEEBFF;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.cardHosting img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 150px;
    padding: 5px;
    object-fit: cover;
}

.cardHosting p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.cardHosting h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
}
.infoHosting {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardRating {
    color: #0065FC;
}

.color-unset {
    color: grey;
}

















.footertext {
    margin-right: 2rem;
    flex: 1;

}
footer {
    display: flex;
    flex-direction: row;
    padding-bottom: 4rem;
    padding-top: 2rem;
    margin-left: 0;
    background-color:#F2F2F2;
    padding-left: 55px;
}
