
* {
    font-family: 'Raleway', sans-serif;
}
h2{
    font-weight: bolder;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20rem;
    padding-bottom: 4rem;
    padding-top: 2rem;
    
    background-color:#F2F2F2;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5rem;
}


.menuprincipal {
    display: flex;
    align-self: flex-end;

}

.navigation {
    padding: 10px;
}

.inscription {
    padding: 10px;

}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

